body {
    font-family: timmana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: rgb(63, 46, 46);
    color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #34495e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #b3ab4694;
}
.header {
    background-color: #3498db;
    color: #692626;
    padding: 10px 20px;
    text-align: center;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px 0;
    padding: 20px;
    width: calc(33.333% - 40px);
    display: inline-block;
    vertical-align: top;
}
.card h3 {
    margin-top: 0;
}
.charts {
    display: flex;
    justify-content: space-between;
}
.chart {
    width: 48%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.carousel-slide {
    text-align: center;
    
}

.d-block{
    text-align: center;
    margin-left: 170px;
    margin-top: 200px;
    
}

