body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/736x/2e/06/12/2e0612e3ab8917c0207833bf4e0d9943.jpg');
}
.imagem {
    background-image: url('./');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(5px); /* Opcional: Adiciona um efeito de desfoque no fundo */
}
.formulario {
    background: white;
    padding: 2rem;
    border-radius: 15px; /* Bordas semi-arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Define uma largura máxima para o formulário */
}

@media (max-width: 575.98px) { 
    .bg-image{
        background-size: cover;
    }
 }